<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="mt-4">
        <button mat-button class="button-primary" type="button" (click)="newForm(formContent)">
          New Questionnaire
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="table-wrapper mt-3 mb-3">
        <div class="card card-primary">
          <div class="mat-elevation-z0">
            <table mat-table [dataSource]="dataSource" class="w-100">
              <!-- Username Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let row" class="text-center">{{ row.name }}</td>
              </ng-container>

              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let row" class="text-center">{{ row.status }}</td>
              </ng-container>

              <ng-container matColumnDef="formowner">
                <th mat-header-cell *matHeaderCellDef>Form owner</th>
                <td mat-cell *matCellDef="let row" class="text-center">{{ row.formowner }}</td>
              </ng-container>

              <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef>createdAt</th>
                <td mat-cell *matCellDef="let row" class="text-center">{{ row.createdAt }}</td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let row" class="text-center">
                  <button mat-flat-button color="warn" type="button" (click)="deleteForm(row.id)">
                    <mat-icon aria-hidden="false" aria-label="Delete icon">delete</mat-icon>
                    Delete
                  </button>
                  <button
                    mat-icon-button
                    [matMenuTriggerFor]="menu"
                    aria-label="Example icon-button with a menu"
                    [matMenuTriggerData]="{ data: row }"
                  >
                    <mat-icon>more_vert</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="colDef"></tr>
              <tr mat-row *matRowDef="let row; columns: colDef"></tr>

              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data found.</td>
              </tr>
            </table>
            <mat-paginator
              #questionnairePaginator
              [pageSizeOptions]="[10]"
              showFirstLastButtons="false"
              hidePageSize="true"
            >
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #formContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">New Questionnaire</h4>
    <button type="button" class="btn btn-light" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="addQuestionnaireForm" (ngSubmit)="addForm($event)">
    <div class="modal-body ff-14">
      <mat-form-field class="example-full-width w-100" appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput placeholder="name" formControlName="name" autocomplete="off" />
        <mat-error *ngIf="addQuestionnaireForm.get('name')?.hasError('required')"> Formname is Required! </mat-error>
        <mat-error *ngIf="addQuestionnaireForm.get('name')?.hasError('minlength')">
          Formname should be atleast 4 characters long!
        </mat-error>
        <mat-error *ngIf="addQuestionnaireForm.get('name')?.hasError('maxlength')">
          Formname can be atmax 20 characters long!
        </mat-error>
      </mat-form-field>
      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-label class="custom-label">Status :</mat-label>
        <mat-form-field appearance="outline" class="w-90 mt-2">
          <mat-select formControlName="status">
            <mat-option *ngFor="let s of status" value="{{ s }}">
              {{ s }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="addQuestionnaireForm.get('status')?.hasError('required')"> Status is Required! </mat-error>
        </mat-form-field>
      </div>
      <div *ngFor="let constain of containers; let i = index">
        <div fxLayout="row" fxLayoutAlign="start center">
          <mat-form-field class="example-full-width w-100 mt-2 cus-padding" appearance="outline">
            <mat-label>Questions</mat-label>
            <input
              matInput
              placeholder="questions"
              formControlName="{{ 'questions' + i }}"
              name="{{ 'questions' + i }}"
              autocomplete="off"
              class="width-80"
            />
            <mat-error *ngIf="addQuestionnaireForm.get('questions' + i)?.hasError('required')">
              Questions is Required!
            </mat-error>
          </mat-form-field>
          <button type="button" (click)="addQuestion()" class="btn btn-light cus-button">
            <mat-icon>add_circle_outline</mat-icon>
          </button>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center">
          <mat-label class="custom-label">Answers :</mat-label>
          <mat-form-field appearance="outline" class="w-90 mt-2">
            <mat-select formControlName="{{ 'answers' + i }}">
              <mat-option *ngFor="let answer of answers" value="{{ answer }}">
                {{ answer }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="addQuestionnaireForm.get('answers' + i)?.hasError('required')">
              Answers is Required!
            </mat-error>
          </mat-form-field>
        </div>
        <div
          *ngIf="addQuestionnaireForm.get('answers' + i)?.value === 'Input'"
          fxLayout="row"
          fxLayoutAlign="start center"
        >
          <div fxLayout="row" fxLayoutAlign="start center">
            <mat-label class="custom-label">Constraint :</mat-label>
            <mat-form-field appearance="outline" class="w-90 mt-2">
              <mat-select formControlName="{{ 'constraints' + i }}">
                <mat-option *ngFor="let constraint of constraints" value="{{ constraint }}">
                  {{ constraint }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="addQuestionnaireForm.get('constraints' + i)?.hasError('required')">
                Constraints is Required!
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div *ngFor="let c of containers[i]; let j = index">
          <div
            *ngIf="addQuestionnaireForm.get('answers' + i)?.value === 'Button'"
            fxLayout="row"
            fxLayoutAlign="start center"
          >
            <div formGroupName="{{ 'buttonGroup' + i }}">
              <mat-form-field class="example-full-width w-100 mt-2 cus-padding" appearance="outline">
                <mat-label>{{ 'Button ' + i }}</mat-label>
                <input
                  matInput
                  placeholder="buttons"
                  formControlName="{{ 'button' + j }}"
                  name="{{ 'button' + j }}"
                  autocomplete="off"
                  class="width-80"
                />
                <mat-error
                  *ngIf="addQuestionnaireForm.controls['buttonGroup' + i]?.get('button' + j)?.hasError('required')"
                >
                  Button Answer is Required!
                </mat-error>
              </mat-form-field>
              <button type="button" (click)="addButton(i)" class="btn btn-light cus-button">
                <mat-icon>add_circle_outline</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button mat-button class="button-primary" type="submit">Save</button>
    </div>
  </form>
</ng-template>

<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-data="data">
    <button mat-menu-item type="button" (click)="editQuestionnaire(editFormContent, data)">
      <mat-icon>edit</mat-icon>
      <span>Edit</span>
    </button>
  </ng-template>
</mat-menu>

<ng-template #editFormContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Edit Questionnaire</h4>
    <button type="button" class="btn btn-light" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="editQuestionnaireForm" (ngSubmit)="patchForm(selectedFormID)">
    <div class="modal-body ff-14">
      <div>
        <mat-form-field class="example-full-width w-100" appearance="outline">
          <mat-label>Name</mat-label> <input matInput placeholder="Name" formControlName="name" name="name" />
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-label class="custom-label">Status :</mat-label>
        <mat-form-field appearance="outline" class="w-90 mt-2">
          <mat-select formControlName="status">
            <mat-option *ngFor="let s of status" value="{{ s }}"> {{ s }} </mat-option>
          </mat-select>
          <mat-error *ngIf="addQuestionnaireForm.get('status')?.hasError('required')"> Status is Required! </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="modal-footer">
      <button mat-button class="button-primary" type="submit" [disabled]="editQuestionnaireForm.invalid">Save</button>
    </div>
  </form>
</ng-template>

<!-- <div class="" ></div> -->
<ngx-ui-loader></ngx-ui-loader>
